body{

    background-color: #FDE0E7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0vh;
    height: 0vh;

}
p {

 
}

h2, h3, h4, h5, h6{

    font-size: 30px

}
ul{
  margin-bottom: 10px;
  
}


